﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.property-body {
    display: flex;
    flex-direction: column;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.27);
    margin-top: 4rem;
}

.property-lower {
    display: flex;
    text-align: left;
}

.property-info {
    margin-left: 1rem;
}

.property-favourite {
    display: flex;
    flex-direction: row;
    align-content: baseline;
}

.property-favourite img {
    width: 1.5rem;
    height: 1.5rem;
}