﻿@model PropertyModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" href="css/home.css">

<script>

    async function get_properties() {
        let resp = await fetch("api/property/get_all")
        let data = await resp.json()
        return data;
    }

    async function get_favourites() {
        let resp = await fetch("api/property/get_favourites")
        let data = await resp.json()
        return data;
    }

    async function toggle_favourite(id, updatedb = true) {
        var elem = document.getElementById(`favourite-${id}`);
        if (elem.getAttribute("data-active") === "true") {
            elem.lastElementChild.src = "images/Heart.png";
            elem.setAttribute("data-active", "false");
        } else {
            elem.lastElementChild.src = "images/Heart_filled.png";
            elem.setAttribute("data-active", "true");
        }
        if (updatedb) {
            try {
                let resp = await fetch(`api/property/toggle_favourite/${id}`);
                let json = await resp.json();
                if (json.status !== "ok") window.location.href = "Identity/Account/Login";
            } catch (err) {
                window.location.href = "Identity/Account/Login"
            }
        }
    }

    function json_to_property(jsonObj) {
        var property_html =
            `<div class="property-body">
                <div class="property-header">${jsonObj.description}</div>
                <div class="property-lower">
                    <img src="${decodeURIComponent(jsonObj.image)}"/>
                    <div class="property-info">
                        <p class="property-cost">£${jsonObj.price}/Month</p>
                        <p class="property-address">${jsonObj.address}</p>
                        <div class="property-favourite" id="favourite-${jsonObj.id}" onClick="toggle_favourite(${jsonObj.id})" data-active=false>
                             <p>Favourite</p><img src="images/Heart.png" />
                        </div>
                    </div>
                </div>
            </div>`;
        return property_html;
    }

    //Retrieve all properties and favourites
    get_properties().then(resp => {
        if (resp.status === "ok") {
            document.getElementById("properties-section").innerHTML = "";
            resp.payload.forEach(e => {
                document.getElementById("properties-section").innerHTML += json_to_property(e);
            });
        } else {
            document.getElementById("properties-section").innerHTML = "Error loading properties, please try again later";
        }

        get_favourites().then(resp => {
            if (resp.status === "ok") {
                resp.payload.forEach(e => {
                    toggle_favourite(e.id, false);
               });
            }
        })
    });
</script>

<div class="text-center">
    <div id="properties-section"><h1>Loading Properties...</h1></div>
</div>

